<h1>New Entry</h1>

<form action="/entries" method="post" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="place_id" value="<%= params["place_id"] %>">

  <p>
    <label>Title</label>
    <input type="text" name="title" class="form-control">
  </p>

  <p>
    <label>Description</label>
    <textarea name="description" class="form-control"></textarea>
  </p>

  <p>
    <label>Occurred On</label>
    <input type="date" name="occurred_on" class="form-control">
  </p>

  <p>
    <label>Image</label>
    <input type="file" name="image" class="form-control">
  </p>

  <button class="btn btn-primary">Save</butto